
<div class="section">
	<h2>Columns</h2>

	<div class="row">
		<p>Visible columns</p>

        <md-checkbox [(ngModel)]="settings.showColumnUsername">Participant's Username</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnName">Participant's Name</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnNumberOffered">&#35; Offered Work Items</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnNumberAccepted">&#35; Accepted Work Items</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnNumberStarted">&#35; Started Work Items</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnNumberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnIdleTimeAccepted">Idle Time Accepted</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnIdleTimeStarted">Idle Time Started</md-checkbox>

        <md-checkbox [(ngModel)]="settings.showColumnSumIdleTime">Sum Idle Time</md-checkbox>

	</div>

	<div class="row">
        <md-select class="yd-input-full-width" placeholder="Format of the participant's name" [(ngModel)]="settings.sortName" name="sortName" required>
            <md-option value="firstname">Firstname Lastname</md-option>
            <md-option value="lastname">Lastname, Firstname</md-option>
        </md-select>
	</div>
</div>

<div class="section">
	<h2>Sorting</h2>

	<div class="row">
        <md-select class="yd-input-full-width" placeholder="Sort column" [(ngModel)]="settings.sortColumn" name="sortColumn" required>
            <md-option value="username">Participant's Username</md-option>
            <md-option value="lastname">Participant's Lastname</md-option>
            <md-option value="firstname">Participant's Firstname</md-option>
            <md-option value="numberOffered">&#35; Offered Work Items</md-option>
            <md-option value="numberAccepted">&#35; Accepted Work Items</md-option>
            <md-option value="numberStarted">&#35; Started Work Items</md-option>
            <md-option value="numberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</md-option>
            <md-option value="idleTimeAccepted">Idle Time Accepted</md-option>
            <md-option value="idleTimeStarted">Idle Time Started</md-option>
            <md-option value="sumIdleTime">Sum Idle Time</md-option>
        </md-select>
	</div>

	<div class="row">
        <md-select class="yd-input-full-width" placeholder="Sort mode" [(ngModel)]="settings.sortColumnDirection" name="sortColumnDirection" required>
			<md-option value="ASC">Ascending</md-option>
			<md-option value="DESC">Descending</md-option>
        </md-select>
	</div>
</div>

<div class="section">
	<h2>Selection Participants</h2>

	<div class="row">
		<md-checkbox [(ngModel)]="settings.customSelection">Custom selection</md-checkbox>
	</div>

	<div [hidden]="!settings.customSelection">
		<div class="row">
			<label>Selection</label>
			<participants-selection [(participants)]="settings.customSelectionParticipants"></participants-selection>
		</div>
	</div>

	<div class="row">
        <md-checkbox [(ngModel)]="settings.autoSelection">Automatic selection</md-checkbox>
	</div>

	<div [hidden]="!settings.autoSelection">

		<div class="row">
            <md-form-field class="yd-input-full-width" floatPlaceholder="always">
                <input mdInput
                        placeholder="Number of selected participants"
                        name="autoSelectionNumber"
                        type="number"
                        [(ngModel)]="settings.autoSelectionNumber"
                        required>
            </md-form-field>
		</div>

		<div class="row">
            <md-select class="yd-input-full-width" placeholder="Auto selection mode" [(ngModel)]="settings.autoSelectionMode" name="autoSelectionMode" required>
				<md-option value="max">Maximum Value</md-option>
				<md-option value="min">Minimum Value</md-option>
				<md-option value="random">Random</md-option>
            </md-select>
		</div>

		<div class="row" [hidden]="settings.autoSelectionMode != 'max' && settings.autoSelectionMode != 'min'">
            <md-select class="yd-input-full-width" placeholder="Auto selection sort column" [(ngModel)]="settings.autoSelectionSortColumn" name="autoSelectionSortColumn" required>
				<md-option value="numberOffered">&#35; Offered Work Items</md-option>
				<md-option value="numberAccepted">&#35; Accepted Work Items</md-option>
				<md-option value="numberStarted">&#35; Started Work Items</md-option>
				<md-option value="numberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</md-option>
				<md-option value="idleTimeAccepted">Idle Time Accepted</md-option>
				<md-option value="idleTimeStarted">Idle Time Started</md-option>
				<md-option value="sumIdleTime">Sum Idle Time</md-option>
            </md-select>
		</div>

		<div class="row">
			<label>Exceptions/Blacklist</label>
			<participants-selection [(participants)]="settings.autoSelectionBlacklist"></participants-selection>
		</div>
	</div>
</div>
