
<div class="table-responsive">
<table class="table-hover">
	<thead>
		<tr>
			<th *ngIf="settings.showColumnUsername">Username</th>
			<th *ngIf="settings.showColumnName">Name</th>
			<th *ngIf="settings.showColumnNumberOffered">&#35; Offered WI</th>
			<th *ngIf="settings.showColumnNumberAccepted">&#35; Accepted WI</th>
			<th *ngIf="settings.showColumnNumberStarted">&#35; Started WI</th>
			<th *ngIf="settings.showColumnNumberAcceptedAndStarted">&#35; Accepted&and;Started WI</th>
			<th *ngIf="settings.showColumnIdleTimeAccepted">Idle Time Accepted</th>
			<th *ngIf="settings.showColumnIdleTimeStarted">Idle Time Started</th>
			<th *ngIf="settings.showColumnSumIdleTime">Sum Idle Time</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of data">
			<td *ngIf="settings.showColumnUsername">{{item.username}}</td>
			<td *ngIf="settings.showColumnName && (settings.sortName == 'firstname')">{{item.firstname}} {{item.lastname}}</td>
			<td *ngIf="settings.showColumnName && (settings.sortName != 'firstname')">{{item.lastname}}, {{item.firstname}}</td>
			<td *ngIf="settings.showColumnNumberOffered">{{item.numberOffered}}</td>
			<td *ngIf="settings.showColumnNumberAccepted">{{item.numberAccepted}}</td>
			<td *ngIf="settings.showColumnNumberStarted">{{item.numberStarted}}</td>
			<td *ngIf="settings.showColumnNumberAcceptedAndStarted">{{item.numberAcceptedAndStarted}}</td>
			<td *ngIf="settings.showColumnIdleTimeAccepted">{{item.idleTimeAccepted | duration }}</td>
			<td *ngIf="settings.showColumnIdleTimeStarted">{{item.idleTimeStarted | duration }}</td>
			<td *ngIf="settings.showColumnSumIdleTime">{{item.sumIdleTime | duration }}</td>
		</tr>
	</tbody>
</table>
</div>
