
<div class="card dashlet-add-panel">
	<div class="card-header gray">
		<h2>New dashlet instance</h2>
	</div>
	<div class="card-content">
		<form  (ngSubmit)="saveNewDashlet()" #newDashletForm="ngForm" class="yd-form">
        
            <div class="row">
                <md-form-field class="yd-input-full-width" floatPlaceholder="always">
                    <input mdInput
                            placeholder="Name of new dashlet instance"
                            name="newDashletName"
                            minlength="3"
                            maxlength="50"
                            [(ngModel)]="newDashlet.title"
                            required>
                </md-form-field>
            </div>
                
	        <div class="row">
                <md-select class="yd-input-full-width" placeholder="Dashlet type" [(ngModel)]="newDashlet.type" name="newDashletTypeSelection" required>
                    <md-option *ngFor="let dashletType of dashletTypes" [value]="dashletType.symbolicName">{{dashletType.displayName}}</md-option>
                </md-select>
            </div>
        
			<div class="form-actions noborder">
				<button md-raised-button color="primary" type="submit" [disabled]="!newDashletForm.form.valid">
					Save <span class="fa fa-send"></span>
				</button>
			</div>
		</form>
	</div>
</div>

